{% extends "base.html" %}


{% block title %}

{% endblock title %}

{{% block content %}
<div class="card">
    <div class="card-header">
        <h4><strong> Tem certeza que deseja remover a REAGENTE abaixo?</strong></h4>
    </div>
    
    <div class="card-body">
        <h5 class="card-title">Nome: {{reagente.nome}}</h5>      
        <h5 class="card-title">Formúla Química : {{reagente.formula_q}}</h5>      
        <h5 class="card-title">Grau de Pureza : {{reagente.grau_p}}</h5>      
        <h5 class="card-title">Unidade: {{reagente.unidade}}</h5>   
        <h5 class="card-title">Marca: {{reagente.marca}}</h5>
        <h5 class="card-title">Quantidade : {{reagente.quantidade}}</h5>
        <h5 class="card-title">Data de Validade : {{reagente.data_validade}}</h5>        
        <h5 class="card-title">Controle da PF / Exercíto: {{reagente.controle_pfex}}</h5>
        <h5 class="card-title">Ficha Técnica: {{reagente.ficha_tec}}</h5>
        <h5 class="card-title">Massa Molecular : {{reagente.massamolecular}}</h5>
        <h5 class="card-title">Dencidade : {{reagente.densidade}}</h5>
        <h5 class="card-title">Disponibilidade : {{reagente.disponibilidade}}</h5>
        <h5 class="card-title">Sala: {{reagente.sala}}</h5>
        <h5 class="card-title">Armario: {{reagente.armario}}</h5>
        <h5 class="card-title">Bancada: {{reagente.bancada}}</h5>
        <h5 class="card-title">Estante: {{reagente.estante}}</h5>
        <h5 class="card-title">Prateleira: {{reagente.prateleira}}</h5>
        <h5 class="card-title">Gaveta: {{reagente.gaveta}}</h5>
        <h5 class="card-title">Observações: {{reagente.obs}}</h5>
            <form method="post">
            {% csrf_token %}
             <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>


    </div>
</div>

{% endblock content %}